{
  "mcpServers": {
    "gcp-resource-mcp": {
      "command": "pwsh",
      "args": ["-File", "REPLACE_WITH_ABSOLUTE_PATH\\gcp-serverless-mcp\\02-proxy\\proxy.ps1"],
      "env": {
        "MCP_SA_KEY_FILE":  "REPLACE_WITH_ABSOLUTE_PATH\\gcp-serverless-mcp\\02-proxy\\proxy-sa-key.json",
        "MCP_API_ENDPOINT": "${MCP_API_ENDPOINT}"
      }
    }
  }
}
